.header{
    background-color: white;
   border-bottom: 1px solid lightgray;
   justify-content: space-between;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header__logo{
    margin: 0 20px;
    margin-top: 10px;   
    color: orange;
    display: flex;
}
.header__nav{
    display: flex;
    padding: 20px;
   color: orange;
}
.header__option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: orange;
}
.header__optionLineOne{
    font-size: 12px;
}

.header__optionLineTwo{
    font-size: 13px;
    font-weight: 800;
}
.header__link{
    padding: 5px 20px ;
    border: none;
    color: orange;
    text-decoration: none;
}