.verify__loading{
    text-align: center;
    margin-top: 20px;
    
}
.verify{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 80vh;
}
.verified{
    margin-top: 20px;
}
.verify button{
    background-color: goldenrod;
    border: none;
    outline: none;
    color: whitesmoke;
    box-shadow: 1px 5px 8px -9px black;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}